<div class="validator">
  <h1 class="validator__title">Check password</h1>
  <input
    class="validator__input"
    type="password"
    placeholder="enter your password..."
    (input)="checkPassword($event)"
    (keyup)="checkPassword($event)"
  >
  <div>
    <p class="type" [ngClass]="{'danger': passwordIsEasy, 'medium': passwordIsMedium, 'strong': passwordIsStrong}">password is easy</p>
    <p class="type" [ngClass]="{'medium': passwordIsMedium, 'danger' : passwordLeastEight, 'strong': passwordIsStrong}">password is medium</p>
    <p class="type" [ngClass]="{'strong': passwordIsStrong, 'danger' : passwordLeastEight}">password is strong</p>
  </div>
</div>

